.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: black;
  background-color: #3d5f7e;
}

.NytController {
  width: 85vw;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.NytCont {
  background-color: #ffe6a7;
  margin: 15px;
  height: 70vh;
  width: 90vw;
  border-radius: 15px;
  border: solid 5px;
  padding: 15px;
  display: flex;

  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

#NytItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 8px;

  width: 30%;
  border: 5px solid;
  border-radius: 10px;
  color: inherit;
  text-decoration: inherit;
}

#button {
  background-color: #263038;
  color: white;
  height: 30px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  width: 30%;
  text-align: center;
}
