/* --------------- ScrollBar --------------- */

/* width */
::-webkit-scrollbar {
  width: 15px;
  background-color: #4c6276;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(11, 85, 196, 0.844);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111e29;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222e41;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: white;
}

.NytController {
  height: 10vh;
  width: 85vw;
  border-radius: 15px;
  border: solid 2px black;
}

.NytCont {
  background-color: #111e29;
  margin: 15px;
  height: 70vh;
  width: 90vw;
  border-radius: 15px;
  border: solid 5px;
  padding: 15px;
  display: flex;

  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

#NytItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;

  width: 30%;
  border: 1px solid;
  border-radius: 10px;
  color: inherit;
  text-decoration: inherit;
}
